<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    {% include 'partials/metadata.html.twig' %}
    
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    
    <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png" />

    {% block stylesheets %}    
        {% do assets.addCss('theme://css/bootstrap.min.css',102) %}    
        {% do assets.addCss('theme://css/freelancer.css',101) %}
        {% do assets.addCss('theme://font-awesome/css/font-awesome.min.css',100) %}
        
        {% do assets.addCss('http://fonts.googleapis.com/css?family=Montserrat:400,700') %}
        {% do assets.addCss('http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic') %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.add('jquery',101) %}
            
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.add('https://oss.maxcdn.com/html5shiv/3.7.0/html5shiv.min.js') %}
            {% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
        {% endif %}
    {% endblock %}
    {{ assets.js() }}
    
{% endblock head %}
</head>
<body id="page-top" class="index">
    {% block header_navigation %}
        {% include 'partials/navigation.html.twig' %}
    {% endblock %}

    {% block header %}{% endblock %}

    {% block showcase %}{% endblock %}

    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block javascripts_bottom %}
        {% do assets.addJs('theme://js/bootstrap.min.js',100) %}
        {% do assets.addJs('theme://js/jquery.easing.min.js') %}
        {% do assets.addJs('theme://js/classie.js') %}
        {% do assets.addJs('theme://js/cbpAnimatedHeader.js') %}
        {% do assets.addJs('theme://js/jqBootstrapValidation.js') %}
        {% do assets.addJs('theme://js/freelancer.js') %}
    {% endblock %}
    {{ assets.js() }}

</body>
</html>
