<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ page.header.title }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>{{ page.header.author.about_1 }}</p>
            </div>
            <div class="col-lg-4">
                <p>{{ page.header.author.about_2 }}</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {% for button in page.header.buttons %}
                    <a class="btn btn-lg btn-outline" href="{{ button.url }}">{{ button.text }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                {{ content }}
            </div>
        </div>
    </div>
</section>
